.section {
  background-color: #1C211C;
}

.header {
  display: inline-flex;
  align-items: end;
  gap: 0.5em;
}

.headerText {
  display: inline;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @media screen and (max-width: 996px) {
    padding: 0 0rem;
    grid-template-columns: auto;
  }
}

.feature {
  background-color: #272B26;
}

.icon {
  height: 32px;
  width: auto;
  color: var(--ifm-color-content);
}
